{% extends 'mosler/base.html' %}
{% load i18n %}
{% block title %}{% trans "Overview" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Overview") %}
{% endblock page_header %}


{% block mosler_main %}
<div class='welcome-text'>Welcome to Mosler. From this page you can manage your project and files, and you can login to the system.</div>
<div class="row">
<div class="mycolumn">
	<h3 class='column-header thinlinc_link' onclick="setup_thinlinc()">Login</h3>
	<p><a class="thinlinc_link" href="#" onclick="setup_thinlinc()">Login.</a></p>
	<p>Clicking the link above will log you in to the system.
	<p><strong>Nota bene</strong> you might need to click the blue bar at the top of the page to be able to get keyboard input.
	<p><strong><a href="#" onclick="$('#osxkeyboard').toggle(100)">Swedish keyboard tweaks</a></strong>
	<div style="display:none;" id="osxkeyboard">
	<p>On <strong>Linux</strong> you need to select a keyboard layout which has "eliminate dead keys" enabled.
	<p>On <strong>Mac OS X</strong> you need to install a custom layout. You can download one <a href="Swedish-nodeadkeys.keylayout">here</a>. Install it by putting it in "<tt>Library/Keyboard Layouts</tt>" in your home. And then you activate it by going into "<tt>System Preferences</tt>" <nobr>-&gt;</nobr> "<tt>Keyboard</tt>" <nobr>-&gt;</nobr> "<tt>Input Sources</tt>", then click the plus in the lower left, select "<tt>Others</tt>" from the left column and then "<tt>Swedish nodead</tt>" in the right column and finally "<tt>Add</tt>" in the lower right.
</div>
</div>
<div class="mycolumn"><h3 class='column-header'>Help me</h3>
    <p>Please check out our <a
        href="https://wiki.bils.se/wiki/Mosler_user_documentation">user
        documentation</a>. If you have any questions or issues you can email
    uppmax support at <a
    href="mailto:support@uppmax.uu.se?subject=Mosler%3A%20%3CShort%20summary%20of%20your%20problem%20here%3E&amp;body=%3CDescribe%20your%20problem%20in%20detail%20here%2C%20including%20the%20exact%20commands%20you%20are%20trying%20to%20run%2C%20the%20full%20path%20to%20any%20script%20files%20you%20try%20to%20run%2C%20in%20which%20folder%2C%20on%20which%20node%2Fcomputer%20you%20run%20it%2C%20and%20approximately%20at%20what%20time%3E">support@uppmax.uu.se</a>.</p>
</div>
</div>
{% endblock %}
