<html>
<head><title>Mosler</title></head>
<body style="margin: 0px; padding: 0px; overflow: hidden;">
<iframe src="https://master.gui.mosler.bils.se/main/?username={{ request.user.username }}&pamresponse={{ request.user.token.id }}&submitbutton=Login&loginsubmit=1" height="100%" width="100%" scrolling='no' style="overflow:hidden;" onload="document.getElementById('thframe').focus();" id='thframe' ></iframe>
</body>
</html>
