.panel.panel-info.col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.login-form {
    padding-bottom: 15px;
}

.btn-connect, .btn-disconnect {
	margin-top: .4em;
	margin-top: .4em;
}

.form-input {
	margin: .4em .2em;
}

#waiting-box {
    display: none;
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%, 0);
}

#gray-screen {
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}
