/* Additional CSS for mydashboard. */
h3.column-header {
	font-family: anivers;
	font-weight: normal;
	font-size: 24px;
	margin-bottom: 10px;
}


pre {
    border: 1px solid black;
    background: #eee;
}

.mycolumn {
	float: left;
	margin-left: 20px;
	width: 400px;
}

.row {
    margin-bottom: 45px;
}

.welcome-text {
	margin-top: 10px;
	margin-bottom: 30px;
	font-size: 16px;
}

.thinlinc_link {
    cursor: pointer;
}

.mosler-upload-container {
    width: 400px;
}

.mosler-upload-container span {
    float: left;
}

.mosler-upload-container div {
    float: right;
}

tr.mosler-upload {
    height: 20px;
    border: none;
}

td.mosler-filename {
    width: 200px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

td.mosler-progress-text {
    width: 100px;
    font-style: italic;
}

#mosler-fileupload {
    display: none;
}

.mosler-delete {
    cursor: pointer;
}

#mosler-upload-progress {
    margin-top: 30px;
    margin-bottom: 20px;
}

.mosler-button {
    background-color: #428bca;
    border: 1px solid #457cbd;
    color: white;
    cursor: pointer;

    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding: 3px;
}

.mosler-button:hover {
    background-color: #286090;
    border-color: #204d74;
}

.mosler-upload-button {
    background-color: #ccc;
    border: 1px solid #aaa;
    color: #888;
    cursor: default;

    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    margin: 3px;
    padding-left: 8px;
    padding-right: 8px;
    padding: 3px;
}

.mosler-upload-button:hover {
    background-color: #ccc;
    color: #888;
    border-color: #aaa;
}

.mosler-fix-plus {
    position: relative;
    top: -0.07em;
}

.mosler-error {
    color: #C00;
}

.mosler-spinner {
    width: 23px;
    height: 23px;
    padding-right: 10px;
}

.mosler-size {
    color: #ccc;
    font-style: italic;
    font-size: 0.8em;
}

ol.mosler-path {
    padding-left: 0;
    list-style-type: none;
}

ol.mosler-path li {
    display: inline;
}

ol.mosler-path li:last-child {
    background-color: #286090;
    border-color: #204d74;
    cursor: default;
}

ol.mosler-file-list {
    padding-left: 20px;
    font-size: 1.2em;
}

ol.mosler-file-list {
    list-style-type: none;
}

ol.mosler-file-list li {
    cursor: pointer;
}

ol.mosler-file-list li img {
    margin-right: 0.5ex;
}

ol.mosler-file-list li:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: #f9f9f9;
    border-radius: 5px;
}
