{% extends 'mosler/base.html' %}
{% load url from future %}
{% load i18n %}
{% block title %}{% trans "Import/Export" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Import/Export") %}
{% endblock page_header %}

{% block mosler_main %}
<body>

<p></p>

<div class="row">

<div class='mycolumn'>
<h3 class='column-header'>Import</h3>
<table id='mosler-upload-progress'></table>

<div>
    <span>
        <span class='mosler-button mosler-choose-files'>
            <span class='mosler-fix-plus'>+</span> Choose Files
        </span>
        <input id="mosler-fileupload" type="file" name="files[]" data-url='{% url "horizon:mosler:put_files" %}' multiple />
    </span>
    <span class="mosler-upload-button mosler-button" id='mosler-upload-button'>Upload</span>
</div>

</div> <!-- mycolumn -->

<div class="mycolumn">
<h3 class='column-header'>Export{% if exporter %} <span id="mosler-export-spinner"><img src="/static/dashboard/img/spinner.gif" /></span>{% endif %}</h3>
<div id='mosler-container'></div>
{% if not exporter %}
<p>Unfortunately you are not authorized to export data.</p>
{% endif %}
</div> <!-- mycolumn -->


</div> <!-- row -->


{% endblock %}

{% block js %}
<script src="/static/mosler/js/jquery.ui.widget.js"></script>
<script src="/static/mosler/js/jquery.fileupload.js"></script>
<script src="/static/mosler/js/jquery.iframe-transport.js"></script>
  {{ block.super }}
{% if exporter %}
<script>
listDir("{{ base }}", false);

// This gets triggered when the forward and back buttons are clicked.
window.onpopstate = function(event) {
    $("#mosler-export-spinner").show();
    if ( ! event.state  ) {
        listDir("");
    }
    else {
        listDir(event.state);
    }
};
</script>
{% endif %}
{% endblock %}

